.home-card-text {
  color: var(--color-primary-light);
  background-color: var(--color-secondary-dark);
}

.home-card-text-green {
  color: var(--color-primary-light);
  background-color: var(--color-secondary);
}

.card-title {
  color: var(--color-primary-light);
}

.link-card {
  text-decoration: none;
  color: var(--color-secondary-medium);
}

.link-card:hover {
  color: var(--color-accent);
}

.scaler {
  transform: scale(1.6);
}

.product-grid {
  width: 75%;
}

.hover-photo {
  display: none;
}

.hover-box:hover .main-photo {
  display: none;
}

.hover-box:hover .hover-photo {
  display: block;
}

@media only screen and (min-width: 25em) {

  .scaler {
    transform: scale(1);
  }

}
