.bottom-nav {
  background-color: var(--color-primary);
}

.bottom-nav li a:hover {
  color: var(--color-accent);
}

.bottom-list {
  text-align: center;
}

.bottom-list a {
  color: var(--color-secondary-dark);
  text-decoration: none;
}

.social {
  text-align: center;
  border-bottom: var(--color-secondary-dark) 1px solid;
  padding-bottom: 2em;
}

.bottom-logo {
  text-align: center;
}

@media only screen and (min-width: 60em) {

  .bottom-content {
    position: relative;
  }

  .social {
    position: absolute;
    top: .5em;
    right: 0;
    border-bottom: none;
  }

  .bottom-logo {
    position: absolute;
    left: 0;
    top: .5em;
    text-align: left;
  }

  .bottom-list {
    text-align: left;
    padding-top: 4em;
    border-bottom: 1px var(--color-secondary-dark) solid;
  }

  .copyright {
    text-align: left;
  }

}
