.home-banner-bg {
  background: url("../../images/pines.jpg") bottom center /cover no-repeat;
  height: 75vh;
}

.banner-head {
  color: var(--color-primary);
}

.banner-text {
  color: var(--color-primary);
}

.footer-banner {
  background: none bottom center /cover no-repeat;
  min-height: 400px;
}

.sale-banner {
  background: none center center /cover no-repeat;
  min-height: 300px;
  max-width: 52em;
  transform: translateX(-50%);
  left: 50%;
}

.sale-banner-text {
  width: 75%;
}

.banner-text a {
  color: var(--color-primary);
}

.footer-banner-home {
  background-image: url("../../images/stag.jpg");
}

.footer-banner-bg {
  background-image: url("../../images/backpack.jpg");
}
.sale-banner-bg {
  background-image: url("../../images/flannel.jpg");
}

.checkout-banner-bg {
  background-image: url("../../images/mountain.jpg");
}
