li a:hover {
  color: var(--color-accent);
}

.side-nav a {
  text-decoration: none;
  text-transform: uppercase;
}

.breadcrumbs {
  color: var(--color-secondary);
}

.breadcrumbs .current {
  color: var(--color-accent);
}

.breadcrumbs a {
  text-decoration: none;
  text-transform: uppercase;
}
