.nav {
  display: none;
  padding-bottom: 10px;
  padding-top: 0;
}

.logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 5px;
}

.i-36 {
  height: 36px;
  width: 36px;
}

.nav-bar {
  background-color: var(--color-primary);
  height: 46px;
}

.wordmark {
  display: none;
}

.nav li {
  text-align: center;
  background-color: var(--color-primary);
}

.nav li a {
  color: var(--color-secondary-dark);
  text-decoration: none;
  font-weight: bold;
  position: relative;
  z-index: 1000;
}

.nav li a::after {
  content: " ";
  position: absolute;
  bottom: -.2em;
  left: 0;
  height: 3px;
  width: 0;
  transition: all 100ms linear;
  background-color: var(--color-accent);
}

.nav li a:hover {
  color: var(--color-accent);
}

.nav li a:hover::after {
  width: 100%;
}

.nav-check:checked ~ .nav {
  display: block;
  position: absolute;
  top: 46px;
  width: 100%;
  left: 50%;
  transform:translateX(-50%);
  z-index: 100000;
}

.nav-label {
  cursor: pointer;
  display: inline-block;
  width: 40px;
}

.nav-check {
  position: absolute;
  top: -3em;
}

.nav-open,
.nav-close {
  display: block;
  position: absolute;
  top: .25rem;
  right: .25rem;
}

.nav-close {
  display: none;
}

.nav-check:checked ~ .nav-label .nav-open {
  display: none;
}

.nav-check:checked ~ .nav-label .nav-close {
  display: block;
}

label.nav-label::before {
  display: none;
}

.cart {
  color: var(--color-accent);
}

@media only screen and (min-width: 60em) {

  .logo {
    position: inherit;
    margin-left: 18px;
  }

  .wordmark {
    height: 36px;
    padding-left: 3em;
    display: inline-block;
  }

  .nav {
    display: inline-block;
    text-align: center;
  }

  .top-nav-li {
    padding-bottom: 0;
    float: right;
  }

  .nav-bar {
    height: inherit;
  }

  .nav li {
    text-align: right;
    background-color: inherit;
  }

  .li {
    display: inline-block;
  }

  .nav-check:checked ~ .nav {
    display: inline-block;
  }

  .nav-label {
    cursor: pointer;
    display: none;
    width: 40px;
  }

  .nav-open,
  .nav-close {
    display: none;
  }

  .nav-close {
    display: none;
  }

  .nav-check:checked ~ .nav-label .nav-open {
    display: none;
  }

  .nav-check:checked ~ .nav-label .nav-close {
    display: none;
  }

  label.nav-label::before {
    display: none;
  }

}
