.nav {
  display: none;
  padding-bottom: 10px;
  padding-top: 0;
}

.logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 5px;
}

.nav-bar {
  background-color: var(--color-primary);
  height: 60px;
}

.wordmark {
  display: none;
}

.nav li {
text-align: center;
background-color: var(--color-primary);
}

.nav li a{
  color: var(--color-secondary-dark);
  text-decoration: none;
  font-weight: bold;
}

li a:hover {
  color: var(--color-accent);
}

.nav-check:checked ~ .nav {
  display: block;
}

.nav-label {
  cursor: pointer;
  display: inline-block;
  width: 40px;
}

.nav-check {
  position: absolute;
  top: -3em;
}

.nav-open,
.nav-close {
  display: block;
  position: absolute;
  top: .25rem;
  right: .25rem;
}

.nav-close {
  display: none;
}

.nav-check:checked ~ .nav-label .nav-open {
  display: none;
}

.nav-check:checked ~ .nav-label .nav-close {
  display: block;
}

label.nav-label::before {
  display: none;
}

.cart {
  color: var(--color-accent);
}

.top-nav {
  padding-top: 2em;
}

@media only screen and (min-width: 60em) {

  .logo {
    position: inherit;
    margin-left: 1.25em;
  }

  .wordmark {
    height: 48px;
    padding-left: 3em;
    display: inline-block;
  }

  .nav {
  display: inline-block;
  text-align: center;

  }

  .top-nav {
    padding-top: .95em;
  }

  .nav-bar {
    height: inherit;
  }

  .nav li {
  text-align: right;
  background-color: inherit;
  }

  .li {
    display: inline-block;
  }

  .nav-check:checked ~ .nav {
    display: inline-block;
  }

  .nav-label {
    cursor: pointer;
    display: none;
    width: 40px;
  }

  .nav-open,
  .nav-close {
    display: none;
  }

  .nav-close {
    display: none;
  }

  .nav-check:checked ~ .nav-label .nav-open {
    display: none;
  }

  .nav-check:checked ~ .nav-label .nav-close {
    display: none;
  }

  label.nav-label::before {
    display: none;
  }

}
