label {
  color: var(--color-secondary-dark);
  text-transform: uppercase;
}

.box {
  border: 1.5px solid var(--color-secondary-medium);
  height: 110%;
}

.placeholder {
  text-transform: uppercase;
}
