:root {
  --color-primary: #e6e6e6;
  --color-primary-light: #f4f4f4;
  --color-secondary: #7d918a;
  --color-secondary-medium: #707070;
  --color-secondary-dark: #3c3f42;
  --color-accent: #1d3a3d;
  --font-primary: "Poppins", sans-serif;
}

/* Typography */

html {
  font-family: var(--font-primary);
}

h1 {
  text-transform: uppercase;
  color: var(--color-accent);
}

h2 {
  text-transform: uppercase;
  color: var(--color-accent);
}

h3 {
  text-transform: uppercase;
  color: var(--color-accent);
}

h4 {
  text-transform: uppercase;
  color: var(--color-accent);
}

h5 {
  text-transform: uppercase;
  color: var(--color-secondary-dark);
}

h6 {
  text-transform: uppercase;
  color: var(--color-secondary-dark);
  font-weight: normal;
}

/* Links */

a {
  color: var(--color-secondary);
}

a:visited {
  color: var(--color-secondary-medium);
}

/* Lists */

ul li {
  color: #3c3c3c;
}

ul li::before {
  color: var(--color-secondary);
  content: "•";
}

ol li::before {
  color: var(--color-secondary);
  font-weight: bold;
}

dt {
  text-transform: uppercase;
  color: var(--color-accent);
  font-weight: bold;
}

/* Quotes & Highlight */

blockquote {
  border-left: 5px solid var(--color-accent);
  padding-left: 1em;
}

mark {
  background-color: var(--color-secondary);
  color: #fff;
}

.grey-bg {
  background-color: var(--color-primary);
}

.lt-grey-bg {
  background-color: var(--color-primary-light);
}

.white-bg {
  background-color: #fff;
}

.none {
  display: none;
}

.block {
  display: block;
}

fieldset {
  border-top: 0;
}

.tabs {
  float: right;
}
